// Import custom Bootstrap variables
@import "./partials/reset";

@import "./partials/bootstrap-variables";

@import "./partials/type";

@import "./partials/clearfix";

@import "./partials/bootstrap-grid";

@import "./partials/vendor-prefixes";

@import "./partials/grid-system";

@import "./partials/mixins";

@import "./partials/variables";


html{
  box-sizing: border-box;
  font-size: 1.5em;
}

*, *:before, *:after{
  box-sizing: border-box;
}

/* General Stylings */
ul{

  li{
    display: inline;
    list-style: none;
  }
}

a{
  text-decoration: none;
  color: black;
}

/* Top stylings */
#page-header{
  padding: 15px;
  font-size: 2.4em;
}

nav{      
  font-size: .91em;
  margin: 0px auto;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  margin-bottom: 15px;
  text-align: center;

  ul{
    
    li{
      display: inline;
      padding: 15px 0px 15px 15px;
    }
  }

  a{
    display: inline-block;
  }
}

 


// Styling
/* Main styles */
#minimenu {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  font-size: $fontSize;

  span{
    text-decoration: none;
    font-size: 13px;
    color: $fontColor;
    text-align: center;
    font-weight: bold;
    margin-right: $itemMargin;
    outline: none;
    display: inline-block;
    float: left;
    line-height: $barHeight + 2;
    padding: $paddingTop $paddingSide;
    padding-left: $arrowLength + $paddingSide;
    position: relative;
    @include vendor-prefix(transition, $transitionType);

    &:after, &:before{
      content: '';
      position: absolute;
      height: 0px;
      width: 0px;
      border-width: 13.5px 0 10.5px $arrowLength;
      border-style: solid;
      left: 100%;
      top: 0px;
      @include vendor-prefix(transition, $transitionType);
    }

    &:not(.last):before{
      @include border-color(transparent);
      left: 0;
    }

    &.last:before{
      @include border-color($backgroundColor);
      left: 0;
    }

    &:after{
      @include border-color($lighterColor);
      z-index: 1;
    }

    &.active{
      background-color: $breadcrumbColor;
      color: $lighterFontColor;
      cursor: default;

      &:after{
        @include border-color($breadcrumbColor);
      }
    }

    &:not(.active):hover{
      background-color: $hoverColor;

      &:after{
      @include border-color($hoverColor);
      }
    }

    &:first-of-type, &:nth-child(2), &.noLeftArrow{
           @include vendor-prefix(border-radius, 0 0 0 0);

           &:before{
                 @include border-color(transparent);
           }
    }

    &:last-of-type, &:first-of-type, &.noRightArrow{

           &:after{
                 @include border-color(transparent);

           }
    }

    &.noArrows{
      padding-right: $paddingSide + ($arrowLength/2);
      padding-left: $paddingSide + ($arrowLength/2);

      &:after{
           @include border-color(transparent);

      }

      &:before{
           @include border-color(transparent);

      }
    }
    
    &#collapsableMenu{
      padding-left: 11px;
    
    }
  }
}

span{
  padding: 15px;
  float: right;
  cursor: pointer;
}

body.row{
  margin: 0px;
  background-color: #3DA9E7;
}

/* Grid Stylings */
#container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  cursor: default;

  .inside-container{
    padding: 10px;
    cursor: default;

  }
  
  .options{
    margin: 15px;
  }

  #board{
    background-color: rgba(249, 249, 249, 0.88);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    padding: 0px 0px 0px 0px;
    cursor: default;
    margin-top: 30px;    

    .top, .middle, .bottom{
      border: 1px solid black;
      
      &.left{
        border-left: none;
      }
      
      &.right{
        border-right: none;
      }

    }

    .top{
      border-top: none; 
    }
    
    .bottom{
      border-bottom: none;
    }

  }
  
  div.inside-grid{

    height: 0px;
    padding: 22px 0px 0px 0px;
    font-size: 2em;

    &:hover{
      background-color: #FFA833;
      cursor: default;

    }
  }
  
  .main-grid{
    padding: 10px;
    cursor: default;
    
   

    &.disabled{
      background-color: rgba(0,0,0,.75);
      
      .inside-container .inside-grid:hover{
        background-color: transparent;
      }

      .displayState{
        z-index: 9999;
        position: absolute;
        color: white;
        font-size: 3em;
        left: 45%;
        top: 35%;
      
      }
    }

    &.selected{
      background-color: rgba(0,0,0,.2) ;
    }

    &.x, &.o, &.tied{
      background-color: rgba(0,0,0,.95) !important;
      color: transparent;

      .inside-container .inside-grid:hover{
        background-color: transparent;
      }

      .displayState{
        position: absolute;
        color: white;
        font-size: 3em;
        left: 45%;
        top: 35%;
      
      }

    }

    &.x{    
      .displayState{

        &:before{
          content: "X";
        }
      }
    }

    &.o{
    
      .displayState{

        &:before{
          content: "O";
        }
      }
    }

    &.tied{
    
      .displayState{

        position: absolute;
        font-size: 3em;
        left: 45%;
        top: 35%;

      }
    }
  }

}

.paragraph-blurb{
  padding: 15px;
}

@media (min-width: $screen-sm-min) {
  #container div.inside-grid{
    height: 52px;
    padding: 0px 0px 0px 15px;
  }
}

@media (min-width: 1110px) {  
  #container div.inside-grid{
    padding: 0px 0px 0px 33px;
  }
}

@media (min-width: $screen-lg-min) {  
  #container div.inside-grid{
    padding: 0px 0px 0px 33px;
  }
}

@media (min-width: $screen-hg-min) {
  #container div.inside-grid{
    height: 60px;
    padding: 0px 0px 0px 30px;
    font-size: 2.6em;
  }
}