extends ./layout

block content
	.col-xs-12#contentBlock
		h1.text-center How to play the game

		p.
			Its Tic-Tac-Toe with a twist! In order to play it, the person who starts
			the game, "host", chooses a tic tac toe spot to play. The space you choose
			determines the next spot in the "main grid" to play. The game ends when the
			player who gets three in a row on the "main grid" first wins!

		h2.text-center Project

		p.
			This is really a small project for a bigger backing, if you login and
			register, you can use slightly custom stylings for your marker and what
			this project is really about, which is an admin interface! If you would like
			please star this project on github.