extends ./layout

block content


  #board.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-3
      #main-left-1.col-xs-4.0-0.left.top.main-grid(data-coordinates="0-0")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-center-1.col-xs-4.center.top.0-1.main-grid(data-coordinates="0-1")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-right-1.col-xs-4.right.0-2.top.main-grid.0-2(data-coordinates="0-2")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-left-2.col-xs-4.left.middle.1-0.main-grid(data-coordinates="1-0")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-center-2.col-xs-4.center.1-1.middle.main-grid(data-coordinates="1-1")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-right-2.col-xs-4.right.1-2.middle.main-grid(data-coordinates="1-2")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-left-3.col-xs-4.left.bottom.2-0.main-grid(data-coordinates="2-0")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-center-3.col-xs-4.center.bottom.2-1.main-grid(data-coordinates="2-1")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")
      #main-right-3.col-xs-4.right.bottom.2-2.main-grid(data-coordinates="2-2")
        .displayState
        .col-xs-12.inside-container
          .left.top.col-xs-4.0-0.inside-grid(data-coordinates="0-0")
          .center.top.col-xs-4.0-1.inside-grid(data-coordinates="0-1")
          .right.top.col-xs-4.0-2.inside-grid(data-coordinates="0-2")
          .left.middle.col-xs-4.1-0.inside-grid(data-coordinates="1-0")
          .center.middle.col-xs-4.1-1.inside-grid(data-coordinates="1-1")
          .right.middle.col-xs-4.1-2.inside-grid(data-coordinates="1-2")
          .left.bottom.col-xs-4.2-0.inside-grid(data-coordinates="2-0")
          .center.bottom.col-xs-4.2-1.inside-grid(data-coordinates="2-1")
          .right.bottom.col-xs-4.2-2.inside-grid(data-coordinates="2-2")

  div.col-xs-7.col-xs-offset-2.col-md-5.col-md-offset-3#moreInfo
    span.col-xs-6#markerDiv 
      span.col-xs-10 Current Turn:
      span.col-xs-2#currentMarker.text-center

    span.col-xs-6#roomDiv 
      span.col-xs-10 Current Room: 
      span.col-xs-2#roomNumber.text-center

  div#showModal.row.col-xs-6
    span.exit
    div#modalContent
      h3 Please put the Room you want to join
      .errorMessage.text-center
      div.col-xs-12.form-group
        label.col-xs-6(for="room") Room Number
        input.col-xs-6(name="room",type="text")#roomNumberInput
      div.col-xs-12.form-group
        label.col-xs-6(for="name") Username (optional)
        input.col-xs-6(name="name",type="text")#userNameInput
      span#submitButton.button Connect to a room