extends ./layout

block content
	p
	| I've been thinking about you Brian Minatoya, your laugh, your everything
	| and I will always think of you. Even if I never see your brightly shining eyes
	| ever again and I will always miss you.