html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, .h1 { font-size: 36px; }

h2, .h2 { font-size: 30px; }

h3, .h3 { font-size: 24px; }

h4, .h4 { font-size: 18px; }

h5, .h5 { font-size: 14px; }

h6, .h6 { font-size: 12px; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.text-nowrap { white-space: nowrap; }

.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container-fluid:before, .container-fluid:after { content: " "; display: table; }
.container-fluid:after { clear: both; }

.row { margin-left: -15px; margin-right: -15px; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-1 { width: 8.33333333%; }

.col-xs-2 { width: 16.66666667%; }

.col-xs-3 { width: 25%; }

.col-xs-4 { width: 33.33333333%; }

.col-xs-5 { width: 41.66666667%; }

.col-xs-6 { width: 50%; }

.col-xs-7 { width: 58.33333333%; }

.col-xs-8 { width: 66.66666667%; }

.col-xs-9 { width: 75%; }

.col-xs-10 { width: 83.33333333%; }

.col-xs-11 { width: 91.66666667%; }

.col-xs-12 { width: 100%; }

.col-xs-pull-0 { right: auto; }

.col-xs-pull-1 { right: 8.33333333%; }

.col-xs-pull-2 { right: 16.66666667%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-4 { right: 33.33333333%; }

.col-xs-pull-5 { right: 41.66666667%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-7 { right: 58.33333333%; }

.col-xs-pull-8 { right: 66.66666667%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-10 { right: 83.33333333%; }

.col-xs-pull-11 { right: 91.66666667%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-push-0 { left: auto; }

.col-xs-push-1 { left: 8.33333333%; }

.col-xs-push-2 { left: 16.66666667%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-4 { left: 33.33333333%; }

.col-xs-push-5 { left: 41.66666667%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-7 { left: 58.33333333%; }

.col-xs-push-8 { left: 66.66666667%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-10 { left: 83.33333333%; }

.col-xs-push-11 { left: 91.66666667%; }

.col-xs-push-12 { left: 100%; }

.col-xs-offset-0 { margin-left: 0%; }

.col-xs-offset-1 { margin-left: 8.33333333%; }

.col-xs-offset-2 { margin-left: 16.66666667%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-4 { margin-left: 33.33333333%; }

.col-xs-offset-5 { margin-left: 41.66666667%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-7 { margin-left: 58.33333333%; }

.col-xs-offset-8 { margin-left: 66.66666667%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-10 { margin-left: 83.33333333%; }

.col-xs-offset-11 { margin-left: 91.66666667%; }

.col-xs-offset-12 { margin-left: 100%; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333333%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-12 { width: 100%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333333%; }
  .col-sm-pull-2 { right: 16.66666667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333333%; }
  .col-sm-pull-5 { right: 41.66666667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333333%; }
  .col-sm-pull-8 { right: 66.66666667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333333%; }
  .col-sm-pull-11 { right: 91.66666667%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333333%; }
  .col-sm-push-2 { left: 16.66666667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333333%; }
  .col-sm-push-5 { left: 41.66666667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333333%; }
  .col-sm-push-8 { left: 66.66666667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333333%; }
  .col-sm-push-11 { left: 91.66666667%; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333333%; }
  .col-sm-offset-2 { margin-left: 16.66666667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333333%; }
  .col-sm-offset-5 { margin-left: 41.66666667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333333%; }
  .col-sm-offset-8 { margin-left: 66.66666667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-12 { margin-left: 100%; } }
@media (min-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-1 { width: 8.33333333%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-12 { width: 100%; }
  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-12 { left: 100%; }
  .col-md-offset-0 { margin-left: 0%; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-12 { margin-left: 100%; } }
@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-1 { width: 8.33333333%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333333%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-12 { width: 100%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-pull-1 { right: 8.33333333%; }
  .col-lg-pull-2 { right: 16.66666667%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-4 { right: 33.33333333%; }
  .col-lg-pull-5 { right: 41.66666667%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-7 { right: 58.33333333%; }
  .col-lg-pull-8 { right: 66.66666667%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-10 { right: 83.33333333%; }
  .col-lg-pull-11 { right: 91.66666667%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-push-1 { left: 8.33333333%; }
  .col-lg-push-2 { left: 16.66666667%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-4 { left: 33.33333333%; }
  .col-lg-push-5 { left: 41.66666667%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-7 { left: 58.33333333%; }
  .col-lg-push-8 { left: 66.66666667%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-10 { left: 83.33333333%; }
  .col-lg-push-11 { left: 91.66666667%; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-offset-0 { margin-left: 0%; }
  .col-lg-offset-1 { margin-left: 8.33333333%; }
  .col-lg-offset-2 { margin-left: 16.66666667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333333%; }
  .col-lg-offset-5 { margin-left: 41.66666667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333333%; }
  .col-lg-offset-8 { margin-left: 66.66666667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-12 { margin-left: 100%; } }
html { box-sizing: border-box; font-size: 1.5em; height: 100%; }

*, *:before, *:after { box-sizing: border-box; }

/* General Stylings */
ul li { display: inline; list-style: none; }

a { text-decoration: none; color: black; }

/* Top stylings */
#page-header { padding: 15px; font-size: 2.4em; }

.button { background-color: #bdc3c7; font-size: 13px; text-decoration: none; color: #333; margin-left: 35px; padding: 10px 20px; border-left: solid 1px #d3d8db; border-radius: 5px; }
.button:hover { color: #95a5a6; background-image: linear-gradient(bottom, #2ca0ca 0%, #3eb8e5 100%); box-shadow: inset 0px 1px 0px #ecf0f1, 0px 1px 0px 0px #7f8c8d, 0px 2px 5px rgba(39, 39, 39, 0.8); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3); }

.button-primary { color: #fff; background-color: #3498db; border-left: solid 1px #6fbaec; box-shadow: inset 0px 1px 0px #73b0d8, 0px 6px 0px #2980b9, 0px 10px 5px rgba(39, 39, 39, 0.8); }
.button-primary:hover { color: #2980b9; box-shadow: inset 0px 1px 0px #73b0d8, 0px 1px 0px 0px #2980b9, 0px 2px 5px rgba(39, 39, 39, 0.8); }

.button-success { color: #fff; background-color: #2ecc71; border-left: solid 1px #78e0a4; box-shadow: inset 0px 1px 0px #6ccc95, 0px 6px 0px #27ae60, 0px 10px 5px rgba(39, 39, 39, 0.8); }
.button-success:hover { color: #26a95e; box-shadow: inset 0px 1px 0px #6ccc95, 0px 1px 0px 0px #27ae60, 0px 2px 5px rgba(39, 39, 39, 0.8); }

.button-error { color: #fff; background-color: #e74c3c; border-left: solid 1px #ee897f; box-shadow: inset 0px 1px 0px #e98a80, 0px 5px 0px #c0392b, 0px 10px 5px rgba(39, 39, 39, 0.8); }
.button-error:hover { color: #cc3e2f; box-shadow: inset 0px 1px 0px #e98a80, 0px 1px 0px 0px #c0392b, 0px 2px 5px rgba(39, 39, 39, 0.8); }

.button-warning { color: #fff; background-color: #e67e22; border-left: solid 1px #f0ab6e; box-shadow: inset 0px 1px 0px #e3a36a, 0px 6px 0px #d35400, 0px 10px 5px rgba(39, 39, 39, 0.8); }
.button-warning:hover { color: #c56816; box-shadow: inset 0px 1px 0px #e3a36a, 0px 1px 0px 0px #d35400, 0px 2px 5px rgba(39, 39, 39, 0.8); }

nav { font-size: .91em; margin: 0px auto; line-height: 1.5em; letter-spacing: 0.08em; margin-bottom: 15px; text-align: center; }
nav ul li { display: inline; padding: 15px 0px 15px 15px; }
nav a { display: inline-block; }

.alert { padding: 8px 35px 8px 14px; margin-bottom: 18px; color: #c09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: fixed; left: 40%; transition: all .4s; top: -45px; }
.alert.open { top: 0px; transition: all .7s; }
.alert.close { top: -45px; line-height: 18px; transition: all .5s; }
.alert.success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
.alert.danger, .alert.error { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.alert.info { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }

.alert-heading { color: inherit; }

/* Main styles */
#minimenu { display: inline-block; overflow: hidden; text-align: center; font-size: 13px; }
#minimenu span { text-decoration: none; font-size: 13px; color: black; text-align: center; font-weight: bold; margin-right: 0.01em; outline: none; margin: 0px 2px 0px 2px; display: inline-block; float: right; line-height: 24px; padding: 0px 0.8em; position: relative; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
#minimenu span:after, #minimenu span:before { content: ''; position: absolute; height: 0px; width: 0px; left: 100%; top: 0px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
#minimenu span:not(.last):before { border-color: transparent transparent transparent transparent; left: 0; }
#minimenu span.last:before { border-color: transparent transparent transparent white; left: 0; }
#minimenu span:after { border-color: transparent transparent transparent #e6e6e6; z-index: 1; }
#minimenu span.active { background-color: #999; color: white; cursor: default; }
#minimenu span.active:after { border-color: transparent transparent transparent #999; }
#minimenu span:not(.active):hover { background-color: #cccccc; }
#minimenu span:not(.active):hover:after { border-color: transparent transparent transparent #cccccc; }
#minimenu span:first-of-type, #minimenu span:nth-child(2), #minimenu span.noLeftArrow { -webkit-border-radius: 0 0 0 0; -ms-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; -o-border-radius: 0 0 0 0; border-radius: 0 0 0 0; }
#minimenu span:first-of-type:before, #minimenu span:nth-child(2):before, #minimenu span.noLeftArrow:before { border-color: transparent transparent transparent transparent; }
#minimenu span:last-of-type:after, #minimenu span:first-of-type:after, #minimenu span.noRightArrow:after { border-color: transparent transparent transparent transparent; }
#minimenu span.noArrows { padding-right: 1.3em; padding-left: 1.3em; }
#minimenu span.noArrows:after { border-color: transparent transparent transparent transparent; }
#minimenu span.noArrows:before { border-color: transparent transparent transparent transparent; }
#minimenu span#collapsableMenu { padding-left: 11px; }
#minimenu span#collapsableMenu span { padding: 15px; float: right; cursor: pointer; }

#moreInfo { margin-top: 20px; }
#moreInfo #markerDiv span, #moreInfo #roomDiv span { font-size: .8em; }

body.row { margin: 0px; background-color: #3DA9E7; height: 100%; }

/* Grid Stylings */
#content { padding-left: 15px; padding-right: 15px; cursor: default; }
#content .inside-container { padding: 10px; cursor: default; }
#content .options { margin: 15px; }
#content #board { background-color: rgba(249, 249, 249, 0.88); -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75); padding: 0px 0px 0px 0px; cursor: default; margin-top: 30px; }
#content #board span.displayState { position: absolute; opacity: 0; display: none; width: 100%; height: 100%; }
#content #board span.displayState.show { opacity: 1; transition: all 1s; display: block; background-color: black; z-index: 9999; }
#content #board .top, #content #board .middle, #content #board .bottom { border: 1px solid black; }
#content #board .top.left, #content #board .middle.left, #content #board .bottom.left { border-left: none; }
#content #board .top.right, #content #board .middle.right, #content #board .bottom.right { border-right: none; }
#content #board .top { border-top: none; }
#content #board .bottom { border-bottom: none; }
#content div.inside-grid { height: 40px; padding: 20px 0px 0px 0px; font-size: 2em; }
#content div.inside-grid:hover { background-color: #FFA833; cursor: default; }
#content .main-grid { padding: 10px; cursor: default; }
#content .main-grid.disabled { background-color: rgba(0, 0, 0, 0.75); }
#content .main-grid.disabled .inside-container .inside-grid:hover { background-color: transparent; }
#content .main-grid.disabled .displayState { z-index: 9999; position: absolute; color: white; font-size: 3em; left: 45%; top: 35%; }
#content .main-grid.selected { background-color: rgba(0, 0, 0, 0.2); }
#content .main-grid.x, #content .main-grid.o, #content .main-grid.tied { background-color: rgba(0, 0, 0, 0.95) !important; color: transparent; }
#content .main-grid.x .inside-container .inside-grid:hover, #content .main-grid.o .inside-container .inside-grid:hover, #content .main-grid.tied .inside-container .inside-grid:hover { background-color: transparent; }
#content .main-grid.x .displayState, #content .main-grid.o .displayState, #content .main-grid.tied .displayState { position: absolute; color: white; font-size: 3em; left: 45%; top: 35%; }
#content .main-grid.x .displayState:before { content: "X"; }
#content .main-grid.o .displayState:before { content: "O"; }
#content .main-grid.tied .displayState { position: absolute; font-size: 3em; left: 45%; top: 35%; }

.paragraph-blurb { padding: 15px; }

#showModal { display: none; }
#showModal #modalContent { position: relative; height: 100%; }
#showModal #modalContent .errorMessage { margin-top: 10px; font-size: .85em; }
#showModal.display { position: absolute; top: 30%; display: block; left: 30%; background-color: black; height: 300px; padding: 30px; color: white; z-index: 999; transition: all .1s; }
#showModal.display .form-group { margin-top: 15px; }
#showModal.display .form-group label { font-size: .7em; }
#showModal.display .form-group input { padding: 2px; color: black; }
#showModal.display #submitButton { position: absolute; right: 0px; bottom: 0px; font-size: .7em; }

#moreInfo > span { margin-top: 15px; }
#moreInfo span { padding: 0px; }

.exit { position: absolute; font-size: .6em; top: 5px; right: 15px; }
.exit:after { content: 'x'; }

#contentBlock { margin-top: 30px; }

@media (min-width: 500px) { #content div.inside-grid { height: 40px; padding: 0px 0px 0px 12px; font-size: 1.3em; } }
@media (min-width: 570px) { #content div.inside-grid { height: 51px; padding: 0px 0px 0px 12px; font-size: 1.3em; } }
@media (min-width: 768px) { #content div.inside-grid { height: 58px; padding: 0px 0px 0px 11px; font-size: 1.5em; } }
@media (min-width: 1110px) { #content div.inside-grid { height: 58px; padding: 0px 0px 0px 42px; } }
@media (min-width: 1200px) { #moreInfo { margin-top: 15px; }
  #content div.inside-grid { padding: 0px 0px 0px 19px; font-size: 1.5em; } }
@media (min-width: 1895px) { #content div.inside-grid { height: 60px; padding: 0px 0px 0px 30px; font-size: 2.6em; } }
